@model Numeric_Sequence_Calculator.Models.ChosenNumber
@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <h1>Numeric Sequence Calculator</h1>
    <h2>by Daniel Wood</h2>
    <hr />
    <form id="mainform">
        <h3>Enter a number and hit "GO"</h3>
        @Html.TextBoxFor(x => x.Number, new { id = "txtChosenNumber", @class = "form-control centered" })
        @Html.ValidationMessageFor(x => x.Number, "", new { @class = "standardPadding centered" })
        <button id="calculateSequenceBtn" type="submit" class="btn btn-primary centered has-spinner" style="margin-top: 20px;" >
            <span class="spinner">
                <i class="fa fa-refresh fa-spin"></i>
            </span>GO
        </button>
    </form>
    <div id="results"></div>
</div>

@section scripts
{
    <script>
        var maxNumber =9999;
        var $loading = $('#loadingDiv').hide();
        $(document)
          .ajaxStart(function () {
              $('#calculateSequenceBtn').toggleClass('active');
          })
          .ajaxStop(function () {
              $('#calculateSequenceBtn').toggleClass('active');
          });
        $(document).ready(function () {
            $(this).validate();
            $('#mainform').submit(function (event) {
                if ($("form").valid()) {
                    if ($('#txtChosenNumber').val() > maxNumber) {
                        if (!confirm('Your number is larger than ' + maxNumber + ', this may take a little while to calculate, and may cause an error, click Yes to try anyway or No to enter a different number')) {
                            return;
                        }
                    }
                    else {
                        $('#results').html('');
                        var json = JSON.stringify({ MagicNumber: $('#txtChosenNumber').val() });
                        var url = '@Url.Action("CalculateSequence")';
                        $.ajax({
                            type: "POST",
                            url: url,
                            data: json,
                            contentType: "application/json"
                        }).success(function (data) {
                            $('#results').html(data);
                        });
                    }
                }
                $('html, body').animate({ scrollTop: $(document).height() }, 'slow');
                event.preventDefault();
            });
        });
    </script>
}